<section class="CoversSection">
  <h2 class="VisuallyHidden">Gallery of projects</h2>
  <div class="CoverBgContainer">
    <div class="CoversProjectContainer">
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-3.jpeg    1x,
                  ./img/covers-imgs/covers-project-3@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-3.jpeg"
                alt="Project 3"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-1.jpeg    1x,
                  ./img/covers-imgs/covers-project-1@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-1.jpeg"
                alt="Project 1"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-2.jpeg    1x,
                  ./img/covers-imgs/covers-project-2@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-2.jpeg"
                alt="Project 2"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-4.jpeg    1x,
                  ./img/covers-imgs/covers-project-4@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-4.jpeg"
                alt="Project 4"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-5.jpeg    1x,
                  ./img/covers-imgs/covers-project-5@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-5.jpeg"
                alt="Project 5"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-6.jpeg    1x,
                  ./img/covers-imgs/covers-project-6@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-6.jpeg"
                alt="Project 6"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-7.jpeg    1x,
                  ./img/covers-imgs/covers-project-7@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-7.jpeg"
                alt="Project 7"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-8.jpeg    1x,
                  ./img/covers-imgs/covers-project-8@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-8.jpeg"
                alt="Project 8"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-10.jpeg    1x,
                  ./img/covers-imgs/covers-project-10@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-10.jpeg"
                alt="Project 10"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg" width="282" height="162">
              <source
                srcset="
                  ./img/covers-imgs/covers-project-9.jpeg    1x,
                  ./img/covers-imgs/covers-project-9@2x.jpeg 2x
                "
              />
              <img
                src="./img/covers-imgs/covers-project-9.jpeg"
                alt="Project 9"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
