<header class="PageHeader">
  <div class="HeaderWrapper">
    <a href="./index.html" class="HeaderLogo">
      <img class="HeaderLogoImage" srcset="./img/logo/logo@2x.png 2x" src="./img/logo/logo.png" alt="dev" width="80"
        height="80" />
      <p class="HeaderLogoText">jefferson*</p>
    </a>
    <nav class="HeaderNavigation">
      <button class="HeaderMenuButton" type="button">Menu</button>
      <ul class="HeaderMenuList">
        <li class="HeaderMenuItem">
          <a href="#AboutMe" class="HeaderMenuLink"> About me </a>
        </li>
        <li class="HeaderMenuItem">
          <a href="#Benefits" class="HeaderMenuLink"> Benefits </a>
        </li>
        <li class="HeaderMenuItem">
          <a href="#Projects" class="HeaderMenuLink"> Projects </a>
        </li>
        <li class="HeaderMenuItem">
          <a href="#FAQ" class="HeaderMenuLink"> FAQ </a>
        </li>
      </ul>
    </nav>
    <a href="#WorkTogether" class="HeaderOrderLink"> Order the project </a>
    <button class="HeaderBurgerButton" type="button">
      <svg class="HeaderBurgerVector" width="28" height="28">
        <use href="img/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>

</header>

<!-- <header class="page-header">
  <div class="header-wrapper">
    <a href="./index.html" class="header-logo">
      <img
        class="header-logo-image"
        srcset="./img/logo/logo@2x.png 2x"
        src="./img/logo/logo.png"
        alt="dev"
        width="80"
        height="80"
      />
      <p class="header-logo-text">jefferson*</p>
    </a>
    <nav class="header-navigation">
      <button class="header-menu-button" type="button">Menu</button>
      <ul class="header-menu-list">
        <li class="header-menu-list-item">
          <a href="#AboutMe" class="header-menu-link"> About me </a>
        </li>
        <li class="header-menu-list-item">
          <a href="#Benefits" class="header-menu-link"> Benefits </a>
        </li>
        <li class="header-menu-list-item">
          <a href="#Projects" class="header-menu-link"> Projects </a>
        </li>
        <li class="header-menu-list-item">
          <a href="#FAQ" class="header-menu-link"> FAQ </a>
        </li>
      </ul>
    </nav>
    <a href="#WorkTogether" class="header-order-link"> Order the project </a>
    <button id="openModal" class="header-burger-button" type="button">
      <svg class="header-burger-vector" width="28" height="28">
        <use href="img/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header> -->

