<section class="-hero-section">
    <div class="hero-wrapper">
        <h1 class="hero-header">
            hello. i’m fullstack developer lloyd jefferson.
        </h1>
        <ul class="hero-socials-list">
            <li class="hero-socials-list-item">
                <a href="https://www.instagram.com/goitclub/" class="hero-socials-links">IG</a>
            </li>
            <li class="hero-socials-list-item">
                <a href="https://www.facebook.com/goITclub/" class="hero-socials-links">FB</a>
            </li>
            <li class="hero-socials-list-item">
                <a href="https://www.youtube.com/c/GoIT/" class="hero-socials-links">YT</a>
            </li>
            <li class="hero-socials-list-item">
                <a href="https://github.com/AlexSerg01/portfolio-goit-project/" class="hero-socials-links">GH</a>
            </li>
            <li class="hero-socials-list-item">
                <a href="mailto:lloydjefferson@gmail.com" class="hero-socials-links">lloydjefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>