<section class="HeroSection">
    <div class="HeroWrapper Container">
        <h1 class="HeroHeaderOne">
            hello.<br />i’m fullstack developer<br />lloyd jefferson.
        </h1>
        <ul class="HeroSocialsList">
            <li class="HeroSocialsListItem">
                <a href="https://www.instagram.com/goitclub/" class="HeroSocialsLinks" target="_blank">IG</a>
            </li>
            <li class="HeroSocialsListItem">
                <a href="https://www.facebook.com/goITclub/" class="HeroSocialsLinks" target="_blank">FB</a>
            </li>
            <li class="HeroSocialsListItem">
                <a href="https://www.youtube.com/c/GoIT/" class="HeroSocialsLinks" target="_blank">YT</a>
            </li>
            <li class="HeroSocialsListItem">
                <a href="https://github.com/AlexSerg01/portfolio-goit-project/" class="HeroSocialsLinks"
                    target="_blank">GH</a>
            </li>
            <li class="HeroSocialsListItem">
                <a href="mailto:lloydjefferson@gmail.com"
                    class="HeroSocialsLinks HeroEmail">lloydjefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>