<section class="section section-reviews">
  <div class="container">
    <h3 class="title-text">REVIEWS</h3>

    <div class="swiper-wrapper">
      <!-- JS буде додавати сюди відгуки -->

      <div class="swiper-slide">
        <ul id="reviewsList"></ul>
      </div>
    </div>
    <div class="arrow-nav">
      <div class="button-prev">
        <svg class="social-icon-back" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>

      <div class="button-next">
        <svg class="social-icon-next" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
