<section class="section section-reviews">
  <div class="container">
    <h3 class="title-text">REVIEWS</h3>

    <div class="swiper-container">
      <div class="swiper-wrapper-list">
        <!-- JS буде додавати сюди відгуки -->
        
          <ul class="js-reviews-list"></ul>
        </div>
      </div>


      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
       
      </div>
      <div class="arrow-nav">
      <div class="swiper-button-prev">
        <svg class="social-icon-back" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
      
      <div class="swiper-button-next">
        <svg class="social-icon-next" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
</div>

    </div>
  </div>
</section>




