.hero-section {
  background-repeat: no-repeat;
  background-image: url(../img/hero-bg/mobile-hero.png);
  max-width: 375px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-size: contain;
    background-image: url(../img/hero-bg/mobile-hero@2x.png);
  }
}

.hero-wrapper {
  position: relative;
  min-height: 812px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-header-one {
  /* position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.hero-socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  position: absolute;
  bottom: 32px;
}

.hero-socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-family: 'Inter Tight';
  line-height: 24px;
  transition: border 250ms ease;
}

.hero-socials-links:focus {
  border: 1px solid #fafafa;
}

.hero-email {
  width: 178px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .hero-section {
    background-image: url(../img/hero-bg/tablet-hero.png);
    max-width: 768px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-size: contain;
      background-image: url(../img/hero-bg/tablet-hero@2x.png);
    }
  }

  .hero-wrapper {
    min-height: 1024px;
  }

  .hero-header-one {
    font-weight: 500;
    font-size: 90px;
  }

  .hero-socials-list {
    flex-wrap: nowrap;
    gap: 8px;
    bottom: 32px;
    right: 32px;
  }

  .hero-socials-links {
    width: 55px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
  }

  .hero-email {
    width: 223px;
  }

  .hero-section .Container {
    padding: 0 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(../img/hero-bg/desktop-hero.png);
    max-width: 1440px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero-section {
      background-size: contain;
      background-image: url(../img/hero-bg/desktop-hero@2x.png);
    }
  }

  .hero-wrapper {
    min-height: 900px;
  }

  .hero-socials-links:hover {
    border: 1px solid #fafafa;
  }
}
