/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./work_tougether.css');

:root {
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  background-color: #1c1d20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
